<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div style="display: flex; flex-direction: row; justify-content: space-around;">
        <div class="bg-dark text-light mx-2 p-4 mt-3" style="border-radius: 10px;">
            <h1 class="text-info">Register</h1>
            
            <div class="alert alert-dark mt-3" style="width: 250px;" role="alert">
                {% with messages = get_flashed_messages() %}
                    {% if messages: %}
                        {% for message in messages: %}
                        <p>{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>

            <form action="/user/create" method="POST">
                <label style="display: block; padding-top: 10px;">First Name:</label>
                <input type="text" name="first_name" placeholder="Insert your First Name"/>
                
                <label style="display: block; padding-top: 10px;">Last Name:</label>
                <input type="text" name="last_name" placeholder="Insert your Last Name"/>

                <label style="display: block; padding-top: 10px;">Email:</label>
                <input type="text" name="email" placeholder="Insert your email"/>

                <label style="display: block; padding-top: 10px;">Password:</label>
                <input type="password" name="password" placeholder="Insert your password"/>

                <label style="display: block; padding-top: 10px;">Confirm Password:</label>
                <input type="password" name="passwordReview" placeholder="Insert your password"/>

                <button type="submit" class="btn btn-info mt-5" style="display: block;">Register</button>
            </form>
        </div>
        <div>
            <div class="bg-dark text-light mx-2 p-4 mt-3" style="border-radius: 10px;">
                <h1 class="text-success">Login</h1>
                
                
                <div class="alert alert-dark mt-3" style="width: 250px;" role="alert">
                        {{session['wrongPass']}}
                        
                </div>
                

                <form action="/login" method="POST">
    
                    <label style="display: block; padding-top: 10px;">Email:</label>
                    <input type="text" name="email" placeholder="Insert your email"/>
    
                    <label style="display: block; padding-top: 10px;">Password:</label>
                    <input type="password" name="user_password" placeholder="Insert your password"/>
    
                    <button type="submit" class="btn btn-success mt-5" style="display: block;">Login</button>
                </form>
            </div>

        </div>
    </div>
</body>
</html>