<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    
    <nav style="display: flex; flex-direction: row; justify-content: space-between; padding: 2% 5%; align-items: center; background-color: rgb(35, 75, 61); color: white;">
        
        <h1 style="font-size: 30px; margin-right: 37%; ">Welcome {{user.first_name}}!!!!</h1>
        <a href="/dashboard" class="btn btn-info" >Dashboard</a>
        <form action="/logout" method="GET">
        <button class="btn btn-danger" type="submit">
            Logout
        </button>
        </form>
    </nav>

    <div>
        <p style="font-size: 30px; margin: 10px 20px; background-color: rgb(136, 7, 7); width: 30%; border-radius: 10px; text-align: center; font-weight: 500; color: white;">
            {{recipe.recipe_name}}
        </p>
        <div style="margin: 0px 20px;">
            <table class="table table-bordered table-dark" style="border-radius: 20px; border: none;">
                <tr>
                    <td>Description</td>
                    <td>{{recipe.recipe_description}}</td>
                </tr>
                <tr>
                    <td>Under 30 minutes:</td>
                    <td>{{recipe.time_recipe}}</td>
                </tr>
                <tr>
                    <td>Instructions:</td>
                    <td>{{recipe.recipe_instructions}}</td>
                </tr>
                <tr>
                    <td>Date Made:</td>
                    <td>{{recipe.created_at}}</td>
                </tr>
            </table>
        </div>
    </div>

</body>
</html>